/* Configuração geral do body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Header */
header {
  margin-right: 85%;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #a37409;
  border-radius: 45px;
  height: 50px;
  width: 14%;
}

#titulo {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-left: 15px;
}

/* Container principal */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 30px;
  padding: 20px;
}

/* História */
.divhistoria {
  font-family: "Poppins", sans-serif;
  font-size: larger;
  background-color: #a37409;
  color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 15px;
}
.divproposito {
  font-family: "Poppins", sans-serif;

  background-color: #a37409;
  color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 15px;
}

/* Serviços Centralizados */
#servicos {
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #a37409;
  color: rgb(214, 214, 214);
  padding: 20px;
  border-radius: 15px;
  width: 70%; /* Largura menor para centralizar melhor */
}

/* Título dos serviços */
#servicoh3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
